
.App
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(99, 99, 100);
}

#calculator
{
  border: 6px solid rgb(126, 25, 25);
  display: flex;
  flex-direction: column;
  background: black;
  width: 300px;
}

#store
{
  border: none;
  width: 296px;
  background: rgb(163, 156, 156);
  text-align: right;
  font-family: monospace;
  font-size: 20px;
  color: rgb(126, 25, 25);
  resize: none;
  padding: 1px 2px;

  word-break: break-all;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;

  overflow: hidden;
}

#display
{
  border: none;
  width: 296px;
  background: rgb(163, 156, 156);
  border-bottom: 1px solid black;
  font-family: 'Lucida Console', monospace;
  font-size: 30px;
  text-align: right;
  cursor:default;
}

input:focus, button:focus, textarea:focus{
  outline: none;
}

#container
{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 70px);
  grid-template-columns: repeat(4, 73.5px);
  gap: 2px;
}

button
{
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  color: rgb(187, 119, 17);
  background: rgb(70, 70, 71);
  user-select: none;
}

#zero, #decimal, #one, #two, #three, #four, #five, #six,  #seven, #eight, #nine
{color: white;}
#zero
{
  grid-column: 2/4;
}
#equals
{
  grid-column: 3/5;
}
#clear
{
  grid-column: 1/3;
}